
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css"> -->


<!-- {% block script %} -->

<!-- {% endblock %} -->

<html>
    <head>

        <title>BINGO</title>
        <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700|Nunito|Caveat+Brush" rel="stylesheet">
        <link rel="shortcut icon" href="{{ url_for('static', filename='ico.ico') }}">
        <link href='https://fonts.googleapis.com/css?family=Ropa Sans' rel='stylesheet'>
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        

        <script type="text/javascript" src="/static/jquery.min.js"></script>
        <script type="text/javascript" src="/static/js.js"></script>        
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        
        <div class="title_text"> <img src = "{{ url_for('static', filename='site-logo.png') }}"></img></div>
        <div class = "ct_info">Generator by <a href = "https://twitter.com/cleartonic" target = "_blank">@cleartonic</a></div>
        <div class = "other_info">Goals by <a href = "https://twitter.com/BaronHaynes" target = "_blank">@BaronHaynes</a> et al.</div>
        <div style = "font-size:20px;" class = "faq_info"><a href = "/faq" target = "_blank">FAQ for bingo</a></div>
        <div style = "font-size:20px;" class = "custom_info"><a href = "/custom" target = "_blank">Custom Card Generator</a></div>
        <div style = "font-size:20px;" class = "password_info"><a href = "/password" target = "_blank">Passwords</a></div>
        <form action = "." method = post>
            {{ form.csrf }}
            
        <div class = 'settings-container'>
        <div class='checkbox-container'>
        <div class="checkbox-grid">
            <div class = 'checkbox-extra-settings'>
                <div class = 'checkbox'>
                    {{ form.form_mm1 }}<br>
                </div>
                <div class = 'label'>
                    {{ form.form_mm1.label }}<br>
                </div>
            </div>
            <div class = 'checkbox-extra-settings'>
                <div class = 'checkbox'>
                    {{ form.form_mm2 }}<br>
                </div>
                <div class = 'label'>
                    {{ form.form_mm2.label }}<br>
                </div>
            </div>                   
            <div class = 'checkbox-extra-settings'>
                <div class = 'checkbox'>
                    {{ form.form_mm3 }}<br>
                </div>
                <div class = 'label'>
                    {{ form.form_mm3.label }}<br>
                </div>
            </div>
            <div class = 'checkbox-extra-settings'>
                <div class = 'checkbox'>
                    {{ form.form_mm4 }}<br>
                </div>
                <div class = 'label'>
                    {{ form.form_mm4.label }}<br>
                </div>
            </div>
            <div class = 'checkbox-extra-settings'>
                <div class = 'checkbox'>
                    {{ form.form_mm5 }}<br>
                </div>
                <div class = 'label'>
                    {{ form.form_mm5.label }}<br>
                </div>
            </div>
            <div class = 'checkbox-extra-settings'>
                <div class = 'checkbox'>
                    {{ form.form_mm6 }}<br>
                </div>
                <div class = 'label'>
                    {{ form.form_mm6.label }}<br>
                </div>
            </div>
        </div>
        
        </div>


        <div class='checkbox-container2'>
        <div class="checkbox-grid">
            <div class = 'checkbox-extra-settings'>
                <div title = 'Places tier 2+ goals only' class = 'checkbox'>
                    {{ form.form_hard_mode }}<br>
                </div>
                <div title = 'Places tier 2+ goals only' class = 'label'>
                    {{ form.form_hard_mode.label }}<br>
                </div>
            </div>
            <div class = 'checkbox-extra-settings'>
                <div title = 'Place tier 1-2 goals only' class = 'checkbox'>
                    {{ form.form_easy_mode }}<br>
                </div>
                <div title = 'Place tier 1-2 goals only' class = 'label'>
                    {{ form.form_easy_mode.label }}<br>
                </div>
            </div>
            
            <div class = 'checkbox-extra-settings'>
                <div title = "Balance the distribution of chosen games" class = 'checkbox'>
                    {{ form.form_balanced_games }}<br>
                </div>
                <div title = "Balance the distribution of chosen games" class = 'label'>
                    {{ form.form_balanced_games.label }}<br>
                </div>
            </div>
            
            <div class = 'checkbox-extra-settings'>
                <div title = "Allow goals that span multiple games" class = 'checkbox'>
                    {{ form.form_multi_goals }}<br>
                </div>
                <div title = "Allow goals that span multiple games" class = 'label'>
                    {{ form.form_multi_goals.label }}<br>
                </div>
            </div>

        </div>
        
        </div>


        <div class = "submission_area">
            <div class = 'label' >{{ form.form_seed.label }}</div>
            <div class="numeric-input">{{ form.form_seed }}</div>
            <div class = "button_area"><input class='pure-button' type = "submit" value ="Generate"></input></div>
            
        </div>

        </div>
        

        
        </form>
        {% if error_message is not none %}
        <div class = 'error-message'>{{error_message}}</div>
        {% endif %}
        
        {% if goals is not none %}
            <div class="title3"><span><a href = "/{{url}}" target = "_blank">http://bingo.cleartonic.net/{{url}}</a></span></div>

            <div class="main-content">
            <div class="bingo-card">
                <div title = "11" class="bingo-card__borders">TL-BR</div>
                <div title = "1" class="bingo-card__borders">C1</div>
                <div title = "2" class="bingo-card__borders">C2</div>
                <div title = "3" class="bingo-card__borders">C3</div>
                <div title = "4" class="bingo-card__borders">C4</div>
                <div title = "5" class="bingo-card__borders">C5</div>
                
                <div title = "6" class="bingo-card__borders">R1</div>
                
            
                {% for goal in goals[0:5] %}
                    <div data = "{{goal[5]}}" class="bingo-card-item item{{goal[2]}}">
                    {% if (goal[1] != '' and goal[1] != '
                                (password allowed)') or goal[6] != []%}
                        <div class = "bingo-card__tooltipindicator"><img src = "{{ url_for('static', filename='info.png') }}"></img></div>
                    {% endif %}
                    {% if goal[4] == True %}
                        <div class = "bingo-card__pwindicator">
                            <img src = "{{ url_for('static', filename='pw.png') }}"></img>
                        </div>
                    {% endif %}
                    <div class = "bingo-card__text">{{goal[0]}}</div>
                    <div class = "bingo-card__footer">MM{{goal[3]}}</div>
                    
                    
                    {% if (goal[1] != '' and goal[1] != '
                                (password allowed)') or goal[6] != []%}
                    <div class = 'tooltip-div' idx = {{goal[7]}} style = 'display:none;'>{{goal[1]}}
                    
                        {% if goal[6] is not none %}
                            {% for goal in goal[6] %}
                            <br><div class = 'tooltip-img-container'><img src = "static/img/{{goal}}"></img></div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    {% endif %}
                    </div>            
                {% endfor %}
                
                <div title = "7" class="bingo-card__borders">R2</div>
                
                {% for goal in goals[5:10] %}
                    <div data = "{{goal[5]}}" class="bingo-card-item item{{goal[2]}}">
                    {% if (goal[1] != '' and goal[1] != '
                                (password allowed)') or goal[6] != []%}
                        <div class = "bingo-card__tooltipindicator"><img src = "{{ url_for('static', filename='info.png') }}"></img></div>
                    {% endif %}
                    {% if goal[4] == True %}
                        <div class = "bingo-card__pwindicator">
                            <img src = "{{ url_for('static', filename='pw.png') }}"></img>
                        </div>
                    {% endif %}
                    <div class = "bingo-card__text">{{goal[0]}}</div>
                    <div class = "bingo-card__footer">MM{{goal[3]}}</div>
                    
                    
                    {% if (goal[1] != '' and goal[1] != '
                                (password allowed)') or goal[6] != []%}
                     <div class = 'tooltip-div' idx = {{goal[7]}} style = 'display:none;'>{{goal[1]}}
                    
                        {% if goal[6] is not none %}
                            {% for goal in goal[6] %}
                            <br><div class = 'tooltip-img-container'><img src = "static/img/{{goal}}"></img></div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    {% endif %}
                    </div>            
                {% endfor %}
                
                <div title = "8" class="bingo-card__borders">R3</div>
                
                {% for goal in goals[10:15] %}
                    <div data = "{{goal[5]}}" class="bingo-card-item item{{goal[2]}}">
                    {% if (goal[1] != '' and goal[1] != '
                                (password allowed)') or goal[6] != []%}
                        <div class = "bingo-card__tooltipindicator"><img src = "{{ url_for('static', filename='info.png') }}"></img></div>
                    {% endif %}
                    {% if goal[4] == True %}
                        <div class = "bingo-card__pwindicator">
                            <img src = "{{ url_for('static', filename='pw.png') }}"></img>
                        </div>
                    {% endif %}
                    <div class = "bingo-card__text">{{goal[0]}}</div>
                    <div class = "bingo-card__footer">MM{{goal[3]}}</div>
                    
                    
                    {% if (goal[1] != '' and goal[1] != '
                                (password allowed)') or goal[6] != []%}
                     <div class = 'tooltip-div' idx = {{goal[7]}} style = 'display:none;'>{{goal[1]}}
                    
                        {% if goal[6] is not none %}
                            {% for goal in goal[6] %}
                            <br><div class = 'tooltip-img-container'><img src = "static/img/{{goal}}"></img></div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    {% endif %}
                    </div>            
                {% endfor %}
                
                <div title = "9" class="bingo-card__borders">R4</div>
                
                {% for goal in goals[15:20] %}
                    <div data = "{{goal[5]}}" class="bingo-card-item item{{goal[2]}}">
                    {% if (goal[1] != '' and goal[1] != '
                                (password allowed)') or goal[6] != []%}
                        <div class = "bingo-card__tooltipindicator"><img src = "{{ url_for('static', filename='info.png') }}"></img></div>
                    {% endif %}
                    {% if goal[4] == True %}
                        <div class = "bingo-card__pwindicator">
                            <img src = "{{ url_for('static', filename='pw.png') }}"></img>
                        </div>
                    {% endif %}
                    <div class = "bingo-card__text">{{goal[0]}}</div>
                    <div class = "bingo-card__footer">MM{{goal[3]}}</div>
                    
                    
                    {% if (goal[1] != '' and goal[1] != '
                                (password allowed)') or goal[6] != []%}
                     <div class = 'tooltip-div' idx = {{goal[7]}} style = 'display:none;'>{{goal[1]}}
                    
                        {% if goal[6] is not none %}
                            {% for goal in goal[6] %}
                            <br><div class = 'tooltip-img-container'><img src = "static/img/{{goal}}"></img></div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    {% endif %}
                    </div>            
                {% endfor %}
                
                <div title = "10" class="bingo-card__borders">R5</div>
                
                {% for goal in goals[20:25] %}
                    <div data = "{{goal[5]}}" class="bingo-card-item item{{goal[2]}}">
                    {% if (goal[1] != '' and goal[1] != '
                                (password allowed)') or goal[6] != []%}
                        <div class = "bingo-card__tooltipindicator"><img src = "{{ url_for('static', filename='info.png') }}"></img></div>
                    {% endif %}
                    {% if goal[4] == True %}
                        <div class = "bingo-card__pwindicator">
                            <img src = "{{ url_for('static', filename='pw.png') }}"></img>
                        </div>
                    {% endif %}
                    <div class = "bingo-card__text">{{goal[0]}}</div>
                    <div class = "bingo-card__footer">MM{{goal[3]}}</div>
                    
                    
                    {% if (goal[1] != '' and goal[1] != '
                                (password allowed)') or goal[6] != []%}
                     <div class = 'tooltip-div' idx = {{goal[7]}} style = 'display:none;'>{{goal[1]}}
                    
                        {% if goal[6] is not none %}
                            {% for goal in goal[6] %}
                            <br><div class = 'tooltip-img-container'><img src = "static/img/{{goal}}"></img></div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    {% endif %}
                    </div>            
                {% endfor %}
                
                <div title = "12" class="bingo-card__borders">BL-TR</div>
                <div title = "" class="bingo-card__bordersblank"></div>
                <div title = "" class="bingo-card__bordersblank"></div>
                <div title = "13" class="bingo-card__borders">BOARD</div>
                <div title = "" class="bingo-card__bordersblank"></div>
                <div title = "" class="bingo-card__bordersblank"></div>
                <div title = "" class="bingo-card__bordersblank"></div>
                
            
            </div>
            </div>
            <div class="title"><span>Seed Number: {{seed_number}} | Settings: {{settings}}</span></div>        
            <div class="font-buttons">
            <div class = 'font-button'> <button id="decrease-font-size">- font</button> </div>
            <div class = 'font-button'><button id="increase-font-size">+ font</button></div>
            <div class = 'font-button'><button id="toggle-games">Toggle games</button></div>
            <div class = 'font-button'><button id="create-custom-card">Customize card</button></div>
            </div>
            
            <aside class="context">
                <div class="clear-button">Clear board</div>
            </aside>
        
        {% endif %}
    </body>
</html>