<link href="https://fonts.googleapis.com/css?family=Amatic+SC:700|Nunito|Caveat+Brush" rel="stylesheet">

<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css"> -->


{% block script %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/static/js.js"></script>
{% endblock %}

<html>
    <head>
        <title>BINGO</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        <link href='https://fonts.googleapis.com/css?family=Ropa Sans' rel='stylesheet'>
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="/static/moment.min.js"></script>
        <script src="/static/js3.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        
        <div class="title_text"> Mega Man 1-6 BINGO</div>
        <div class = "ct_info">Created by <a href = "https://twitter.com/cleartonic" target = "_blank">@cleartonic</a></div>
        <form action = "." method = post>
            {{ form.csrf }}
            
        <div class = 'settings-container'>
        <div class='checkbox-container'>
        <ul class="checkbox-grid">
            <li><div>
                <div class = 'label'>
                    {{ form.form_mm1.label }}<br>
                </div>
                <div class = 'checkbox'>
                    {{ form.form_mm1 }}<br>
                </div>
            </div></li>
            <li><div>
                <div class = 'label'>
                    {{ form.form_mm4.label }}<br>
                </div>
                <div class = 'checkbox'>
                    {{ form.form_mm4 }}<br>
                </div>
            </div></li>
            <li><div>
                <div class = 'label'>
                    {{ form.form_mm2.label }}<br>
                </div>
                <div class = 'checkbox'>
                    {{ form.form_mm2 }}<br>
                </div>
            </div></li>       
            
            <li><div>
                <div class = 'label'>
                    {{ form.form_mm5.label }}<br>
                </div>
                <div class = 'checkbox'>
                    {{ form.form_mm5 }}<br>
                </div>
            </div></li>
            <li><div>
                <div class = 'label'>
                    {{ form.form_mm3.label }}<br>
                </div>
                <div class = 'checkbox'>
                    {{ form.form_mm3 }}<br>
                </div>
            </div></li>
            <li><div>
                <div class = 'label'>
                    {{ form.form_mm6.label }}<br>
                </div>
                <div class = 'checkbox'>
                    {{ form.form_mm6 }}<br>
                </div>
            </div></li>
        </ul>
        
        </div>


        <div class = "submission_area">
            <div>{{ form.form_seed.label }}</div>
            <div class="numeric-input">{{ form.form_seed }}</div>
            <div class = "button_area"><input class='pure-button' type = "submit" value ="Submit"></input></div>
            
        </div>

        </div>
        </form>
        {% if goals is not none %}
        
            <div class="main-content">
            <div class="title"><span>Seed Number: {{seed_number}}</span></div>
            <div class="title"><span>Settings: {{settings}}</span></div>
            <div class="bingo-card">
                {% for goal in goals %}
                <div class="bingo-card__item">{{goal}}<span class="bingo-card__checkbox"></span></div>            
                {% endfor %}
            
            </div>
            </div>
            <aside class="context">
                <div class="clear-button">Clear board</div>
            </aside>

        {% endif %}
    </body>
</html>